<div class="notifications">
        <div class="notification-header">
                <div class="image-noti">
                      <img src="https://home.bt.com/images/phone-messaging-136437791925802601-190719154957.jpg">
                </div>
                <div class="noti-header">
                  <p>Notificatons</p>
                </div>
              </div>
              <div class="noti-body">
                <p class="para">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. This is the one.</p>
              </div>
              <div class="noti-icons">
                    <div class="left-icon">
                            <i class="fa fa-angle-left"></i>
                    </div>
                    <div class="middle-icon">
                            1/3
                    </div>
                    <div class="right-icon">
                            <i class="fa fa-angle-right"></i>
                    </div>
                    <div class="text">View All</div>
              </div>
</div>
