.notification-header{
   height: 55px;
   background-color: blue;
   display: flex;
}

.image-noti img{
    height: 40px;
    width: 41px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 6px;
}

.noti-header p{
    color: white;
    padding-left: 10px;
    padding-top: 14px;
    font-size: 13px;
    font-weight: bold;
}

.noti-body{
    background-color: lightgray;
    /* border-bottom: 1px solid black; */
}
.noti-body:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 95%; /* Change this to whatever width you want. */
    padding-top: 0px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
}

.noti-body p{
    font-size: 13px;
    padding: 6px;
}

.para{
    font-weight: bold;
    margin-bottom: -4px;
}

.noti-icons{
    display: flex;
    background-color: lightgray;
}

.left-icon{
    padding-left: 10px;
    margin-right: 10px;
}

.middle-icon{
    margin-right: 10px;
    font-size: 13px;
}

.text{
    float: right;
    padding-right: 10px;
    margin-left: 160px;
    font-size: 13px;
    color: blue;
    font-weight: bold;
}