.post-header{
    background-color: mediumturquoise;
    padding-left: 14px;
    font-size: 13px;
    height: 31px;
    font-weight: bold;
    opacity: 0.8;
    padding-top: 4px;
}
p{
    opacity: 0.5;
    padding-left: 13px;
    padding-top: 10px;
    font-size: 14px;
}
.tags{
    opacity: 0.5;
    padding-left: 13px;
    padding-top: 10px;
    font-size: 14px;
}
.tags-body{
    display: flex;
    border-bottom: 1px solid gray;
}
.imogies{
    /* float: right; */
    display: inline-flex;
    margin-left: 324px;
    margin-top: 8px;
}
.img1{
    margin-left: 12px;
}
.img2{
    margin-left: 12px;
}
.img3{
    margin-left: 12px;
}
.img4{
    margin-left: 12px;
}

.tags-body li:after{
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 80%; /* Change this to whatever width you want. */
    padding-top: 0px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid lightslategray; /* This creates the border. Replace black with whatever color you want. */
}
.footer{
    display: flex;
    margin-top: 6px;
}
.postTo{
    padding-left: 14px;
    padding-right: 4px;
    font-size: 12px;
    opacity: 0.6;
}
.emp{
    font-size: 14px;
    opacity: 0.6;
    font-weight: bold;
}
.buttonclass{
    margin-left: 268px;
    opacity: 0.6;
}
button{
    padding: 2px 18px 2px 18px;
}