
<div>
    <div class="post-header">
        Post Status
    </div>
    <div class="post-body">
        <p>What's on your mind?</p>
        <div class="tags-body">
            <div class="tags">+Tags</div>
            <div class="imogies">
                <div class="img1">
                    <i class="fa fa-pencil-square-o fa-2"></i>
                </div>
                <div class="img2">
                    <i class="fa fa-pencil-square-o fa-2"></i>
                </div>
                <div class="img3">
                    <i class="fa fa-pencil-square-o fa-2"></i>
                </div>
                <div class="img4">
                    <i class="fa fa-pencil-square-o fa-2"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
     <div class="postTo">
         Post to:
     </div>
     <div class="emp">
           All Employees
        </div>
        <div class="buttonclass">
                <button type="button" class="btn btn-primary">Post</button>
         </div>
    </div>
   
</div>
