<div class="toggle-wrapper">
<div class="my-networks">
  <ul>
      <li [ngClass]="{'extra-class': someProperty==='network'}" (click)="cliked('network')">My Networks</li>
      <li [ngClass]="{'extra-class': someProperty==='activity'}" (click)="cliked('activity')">My Activity</li>
      <li [ngClass]="{'extra-class': someProperty==='bookmark'}" (click)="cliked('bookmark')">My Bookmarks</li>
  </ul>
</div>
<div class="all">All
  <i class="fa fa-angle-down"></i>
</div>
</div>