.toggle-wrapper{
    display: inline;
}
.my-networks li{
 display: inline;
 float: left;
 font-size: 13px;
 margin-right: 15px;
}

.my-networks li:after{
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 125%; /* Change this to whatever width you want. */
    padding-top: 0px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid lightslategray; /* This creates the border. Replace black with whatever color you want. */
}

.all{
    float: right;
    font-size: 13px;
}

/* .selected{
    font-size: 14px;
    color: blue;
    font-weight: bold;
} */

.extra-class{
    font-size: 14px;
    color: blue;
    font-weight: bold;
    border-bottom:1px solid blue;
    border-bottom-width: 120%;
}