<app-top-nav-bar></app-top-nav-bar>
<app-banner></app-banner>
<!-- <div class="facebook-page">
    <div class="row">
        <div class="col-sm-2">
            <app-profile-picture></app-profile-picture>
            <app-sidebar></app-sidebar>
        </div>


        
        <div class="col-sm-7">
            
            <router-outlet></router-outlet>
        </div>


        <div class="col-sm-3" style="padding-left: 0px;">
            <app-notification></app-notification></div>
      </div>

     
      
</div> -->
<div class="facebook-wrapper">
    <div class="row">
        <div class="col-md-2">
            <app-profile-picture></app-profile-picture>
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-7">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-3">
            <app-notification></app-notification>
        </div>
    </div>

</div>


