.post-status{
    display: flex;
}
p{
    margin-left: 7px;
    margin-top: -5px;
    margin-right: 24px
}
.create-poll{
    display: flex;
}
.create-event{
    display: flex;
}

.extra-class{
    font-size: 14px;
    color: blue;
    font-weight: bold;
    border-bottom:1px solid blue;
    border-bottom-width: 100%;
}
.modal-body{
    border-top: 10px solid grey;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
/* button{
    padding-top: 9px;
} */