<div class="main">
    <div class="modal-header">
        <div [ngClass]="{'extra-class': someProperty==='status'}" (click)="cliked('status')" class="post-status">
          <i class="fa fa-pencil-square-o fa-2"></i>
          <p>POST STATUS</p>
        </div>
        <div [ngClass]="{'extra-class': someProperty==='poll'}" (click)="cliked('poll')" class="create-poll">
          <i class="fa fa-pencil-square-o fa-2"></i>
          <p>CREATE POLL</p>
        </div>
        <div [ngClass]="{'extra-class': someProperty==='event'}" (click)="cliked('event')" class="create-event">
          <i class="fa fa-pencil-square-o fa-2"></i>
          <p>CREATE EVENT</p>
        </div>
        <button type="button" style="padding-top: 9px;" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
  </div>
    <!-- <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
    <div class="modal-body">
      <div *ngIf="postStatusModel" class="postStatus">
          <app-post-status-model></app-post-status-model>
      </div>
      <div *ngIf="createPollModel" class="createPoll">
          <app-create-poll-model></app-create-poll-model>
      </div>
      <div *ngIf="createEventModel" class="createPoll">
          <app-create-event-model></app-create-event-model>
      </div>
    </div>
</div>

<!-- <ng-template #postStatus>
  <app-post-status-model></app-post-status-model>
</ng-template> -->
