.picture{
    margin-top: -15px;
    height: 80px;
    background-color: lightgray;
    /* width: 230px; */
}

.picture img{
    height: 55px;
    width: 59px;
    border-radius: 50%;
    margin-top: -25px;
    margin-left: 10px;
}

h5{
    font-size: 13px;
    font-weight: bold;
    padding-top: 3px;
    padding-left: 10px;
}
p{
    font-size: 11px;
    margin-top: -7px;
    padding-left: 10px;
}