<div class="picture">
   <img src="https://home.bt.com/images/phone-messaging-136437791925802601-190719154957.jpg">
<div class="name">
  <h5>Anusha Saha(001)</h5>
  <p>Product Designer</p>
</div>
</div>