<div class="simple-login-container">
    <h2>Login Form</h2>
    <form  #formData="ngForm" (ngSubmit)=login(formData)>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="text" class="form-control" placeholder="Username" 
                name="email" [(ngModel)]="email" #nameControl="ngModel" 
                required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                <!-- <div *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched)" class="alert alert-danger"> -->
                <div *ngIf="nameControl.invalid && isFormSubmit" class="alert alert-danger">
                    <div *ngIf="nameControl.errors.required">
                        Username is required.
                    </div>
                    <div *ngIf="nameControl.errors.pattern">
                        Pattern is not valid.
                    </div>
                </div>
        
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="password" placeholder="Enter your Password" class="form-control"
                [(ngModel)]="password" #passwordControl="ngModel" 
                name="password" required>
                                <div *ngIf="passwordControl.invalid && isFormSubmit" class="alert alert-danger">
                                  <div *ngIf="passwordControl.errors.required">
                                    Password is required.
                                  </div>
                                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="submit" class="btn btn-block btn-login">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="http://bit.ly/2HKy0Mv">Download Best Wordpress Theme</a>
            </div>
        </div>
    </form>
    
</div>