img{
    height: 161px;
    width: 100%;
}

.image-wrapper{
    position: relative;
  text-align: center;
  color: white;
}

.banner-header{
    position: absolute;
    bottom: 8px;
    right: 16px;
    padding-bottom: 30px;
    padding-right: 70px;
}

.banner-header h3{
    float: right;
}