<div class="image-wrapper">
    <img src="https://png.pngtree.com/thumb_back/fh260/back_pic/03/51/70/585791ffa147edc.jpg">
<div class="banner-header">
   <h2>HCM SOFTWARE BULD FOR INTERPRISES</h2>
   <h3>~Gartner</h3>
</div>
</div>
