<div class="header-wrapper">
    <div class="icons">
       <i class="fa fa-television" aria-hidden="true"></i>
       <i class="fa fa-bars" aria-hidden="true"></i>
       <h3>Website</h3>
    </div>
    <div class="search-container">
            <form>
              <i class="fa fa-search"></i>
              <input type="text" placeholder="Search.." name="search">
              <button type="submit">Check In</button>
            </form>
          </div>
          <div class="image-container">
                <i class="fa fa-bell-o" aria-hidden="true"></i>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnJ4zzi-n4kGDUcn1YVXoSLStWZAsrnmKK5ucv3Z3sgbcC-ox4">
          </div>
   
</div>