.header-wrapper{
    background-image: linear-gradient(88deg, #115eb4, #1676e2 48%, #1aa5c9);
    display: flex;
    height: 60px;
    color: #ffffff;
    /* justify-content: space-between; */
}

.header-wrapper img{
    width: 45px;
    border-radius: 50%;
}

.icons{
    padding-left: 35px;
    display: flex;
}

.fa-television{
    padding-right: 15px;
    height: 32px;
    margin-top: 10px;
    padding-top: 6px;
    border-right: 1px solid white;
}

.fa-bars{
    margin-left: 15px;
    padding-top: 16px;
}

.header-wrapper h3{
    padding-top: 7px;
    margin-left: 3px;
}

form{
    padding-top: 9px;
    margin-left: 59px;
}

.header-wrapper input{
    padding-right: 463px;
    margin-top: 2px;
    height: 36px;
}

.search-container i{
    position: absolute;
}

.fa-search{
    margin-left: 10px;
    margin-top: 11px;
}

input{
    height: 40px;
    padding-left: 33px;
    opacity: 0.16;
    border-radius: 2px;
    color: #ffffff;
}

button{
    width: 84px;
  height: 24px;
  opacity: 0.4;
  border-radius: 2px;
  border: solid 1px #ffffff;
  margin-left: 11px;
    margin-right: 11px;
}

.fa-bell-o{
    width: 25px;
    padding-top: 20px;
    margin: 0px 15px;
}