<div class="sidebar">
   <div class="pos">
       <ul>
           <li routerLinkActive="active-link" [routerLink]="['/dashboard/list/myfeed']"><span><i class="fa fa-user fa-1"></i></span>
           <a >My Feed</a>
        </li>
        <li routerLinkActive="active-link" [routerLink]="['/dashboard/list/allpost']"><span><i class="fa fa-user fa-1"></i></span>
            <a>All post</a>
         </li>
         <li routerLinkActive="active-link" [routerLink]="['/dashboard/list/recognizationwall']"><span><i class="fa fa-user fa-1"></i></span>
            <a>Recognization wall</a>
         </li>
         <li routerLinkActive="active-link" [routerLink]="['/dashboard/list/events']"><span><i class="fa fa-user fa-1"></i></span>
            <a>Events</a>
         </li>
         <li routerLinkActive="active-link" [routerLink]="['/dashboard/list/tags']"><span><i class="fa fa-user fa-1"></i></span>
            <a>Tags</a>
         </li>
       </ul>
   </div>
</div>
