.sidebar{
    background-color: lightgray;
    margin-top: 12px;
}

.sidebar ul{
    padding: 6px 14px;
    list-style: none;
}

.sidebar li{
    margin: 3px 0px;
}

.sidebar a{
    margin-left: 10px;
    font-size: 14px;
    
}

.active-link{
    font-weight: bold;
}