.post-wrapper{
    height: 55px;
    background-color: lightgrey;
    display: flex;
}

.edit-icon{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 14px;
}

.graph-icon{
    margin-right: 10px;
    margin-top: 14px;
}

.box-icon{
    margin-right: 10px;
    margin-top: 14px;
}

.text p{
    margin-top: 14px;
    opacity: 0.5;
    font-size: 15px;
}


