<div (click)="openModal(template)" class="post-wrapper">
  <div class="edit-icon">
        <i class="fa fa-pencil-square-o fa-2"></i>
  </div>
  <div class="graph-icon">
        <i class="fa fa-pencil-square-o fa-2"></i>
  </div>
  <div class="box-icon">
        <i class="fa fa-pencil-square-o fa-2"></i>
  </div>
  <div class="text">
        <p>What do you want to talk about?</p>
  </div>
</div>
 
<ng-template #template>
  <app-main-model (crossbutton)="hideButton($event)"></app-main-model>
</ng-template>