<div>
    <div class="post-header">
        Create Poll
    </div>
    <div class="post-body">
        <p>Question Here</p>
        <div class="addChoices">
            <div class="choices">
                    +Add Choices
            </div>
                <div (click)="selectChoices()" class="check custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                    <label class="custom-control-label" for="customCheck"></label>
                </div>
                <div class="check custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="custom" name="example1">
                    <label class="custom-control-label" for="custom"></label>
                </div>
        </div>
        
        <div *ngIf="clickedChoice">
                <p>Question Here</p>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Option 1
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Option 2
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="" disabled>Option 3
                </label>
              </div>
        </div>
       
        <div class="tags-body">
                <div *ngIf="clickedChoice">
                        <p>Question Here</p>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">Option 1
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">Option 2
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="" disabled>Option 3
                          </label>
                        </div>
                  </div>
            <div class="tags">+ Add New QUestions</div>
            
    </div>
    <div class="footer">
     <div class="postTo">
         Post to:
     </div>
     <div class="emp">
           All Employees
        </div>
        <div class="buttonclass">
                <button type="button" class="btn btn-primary">Post</button>
         </div>
    </div>
   
</div>
